.jumbotron {
    text-align: center;
    
    background-color: rgb(240, 193, 107);
    
    
    
}

span {
    color: #ffbb00;
    font-weight: 50%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.myimg {
    
    height: 500px;
}